parameters:
    # Adds a fallback DATABASE_URL if the env var is not set.
    # This allows you to run cache:warmup even if your
    # environment variables are not available yet.
    # You should not need to change this value.
    env(DATABASE_URL): ''

doctrine:
    dbal:
        connections:
            ayso:
                driver: 'pdo_mysql'
                server_version: '5.7'
                charset: utf8mb4
                default_table_options:
                    charset: utf8mb4
                    collate: utf8mb4_unicode_ci
                wrapper_class: App\Ayso\AysoConnection
                url: '%env(DATABASE_URL_AYSO)%'
            user:
                driver: 'pdo_mysql'
                server_version: '5.7'
                charset: utf8mb4
                default_table_options:
                    charset: utf8mb4
                    collate: utf8mb4_unicode_ci
                wrapper_class: App\User\UserConnection
                url: '%env(DATABASE_URL_REG)%'
            reg:
                driver: 'pdo_mysql'
                server_version: '5.7'
                charset: utf8mb4
                default_table_options:
                    charset: utf8mb4
                    collate: utf8mb4_unicode_ci
                wrapper_class: App\Reg\RegConnection
                url: '%env(DATABASE_URL_REG)%'
            project:
                driver: 'pdo_mysql'
                server_version: '5.7'
                charset: utf8mb4
                default_table_options:
                    charset: utf8mb4
                    collate: utf8mb4_unicode_ci
                wrapper_class: App\Project\ProjectConnection
                url: '%env(DATABASE_URL_REG)%'

 #   orm:
 #       auto_generate_proxy_classes: '%kernel.debug%'
 #       naming_strategy: doctrine.orm.naming_strategy.underscore
 #       auto_mapping: true
 #       mappings:
 #           App:
 #               is_bundle: false
 #               type: annotation
 #               dir: '%kernel.project_dir%/src/Entity'
 #               prefix: 'App\Entity'
 #               alias: App
