/* ============================================
 * 20 June 2014
 * Putting some schedule styles here for now
*/
.my-team      { background-color: lightgray;}
.my-slot      { background-color: lightgray}
.my-slot-crew { background-color: #CCFFFF}

.game-official-state-Open      { }
.game-official-state-Requested { background-color: lightsteelblue; }

.game-official-state-Pending   { background-color: lightsteelblue; }
.game-official-state-Published { background-color: lightyellow; }
.game-official-state-Notified  {  }
.game-official-state-Reviewing {  }

.game-official-state-Accepted  { background-color: lightgreen; }
.game-official-state-Approved  { background-color: lightgreen; }
.game-official-state-Declined  { background-color: gold; }
.game-official-state-TurnBack  { background-color: lightpink; }

/* =======================================
 * SAR Conflicts
 */
.game-official-conflict-region  { background-color: red; }
.game-official-conflict-area    { background-color: gold; }
.game-official-conflict-section { }
.game-official-conflict-none    { }

/* =======================================
 * Assign role
 */
.game-official-assign-role-ROLE_USER         { }
.game-official-assign-role-ROLE_ASSIGNOR     { }
