# config/services.yaml
parameters:

imports:
    - { resource: '../src/Project/services.yaml' }
    - { resource: '../src/Ayso/services.yaml' }
    - { resource: '../src/User/services.yaml' }
    - { resource: '../src/Reg/services.yaml' }

services:

    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\KernelListener:
        $env: '%env(APP_ENV)%'

    App\Core\:
        resource: '../src/Core/*'

    App\Home\:
        resource: '../src/Home/*'

    App\Welcome\:
        resource: '../src/Welcome/*'

